
.color-navside{
  background-color: black;
}

.nom-user{
  background-color: grey;
  text-align: center;
  width: 110px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border-radius: 10px;
}

ul{
  text-decoration: none;
}

li{
  text-decoration: none;

}

.list-dates{
  cursor: pointer;
}

.list-pointer{
 cursor: pointer;
}

.btn-color{
  background-color: black;
  color: white;
  width: 150px;
}

