<div class="container mt-5 m-5 d-flex flex-column justify-content-around">
  <h2>Angular IMC</h2>
  <br/>
  <ul class="d-flex flex-column justify-content-around list-unstyled">
    <li class="nom-user" routerLink="../../component/pageutilisateur" style="cursor: pointer;">{{username}}</li>
    <br>
      <span class="ms-1 d-none d-sm-inline">Periode des saisies</span>
      <ul class="list-unstyled liste-dates">
        <li class="list-pointer">
          <i routerLink="../../component/pageutilisateur/imcsemaine" class="bi bi-calendar-check"></i> Semaine
        </li>
        <li class="list-pointer">
          <i routerLink="../../component/pageutilisateur/imcmois" class="bi bi-calendar2-month"></i>&nbsp; Mois
        </li>
        <li class="list-pointer">
          <i routerLink="../../component/pageutilisateur/imctrimestre" class="bi bi-calendar3"></i>&nbsp; Trimestre
        </li>
      </ul>
    <br>
    <li>
    <div class="mt-4">
      <span class="ms-1 d-none d-sm-inline"
        ><button
          routerLink="../../component/modifpoids"
          class="btn btn-color"
        >
          Saisir son poids
        </button></span
      >
    </div>
  </li>
    <br>
    <li>   <div class="mt-5">
      <span class="ms-1 d-none d-sm-inline"
        ><button class="btn btn-color" routerLink="../../component/accueuil">
          Deconnexion
        </button></span
      >
    </div></li>
  </ul>
</div>
