<app-navside class="navside"></app-navside>
<div class="col-9 droite">
  <div class="d-flex cards">
  <div style="color: black;" class="card d-flex flex-column align-items-center p-3 gap-2">
    <!-- <div class="card-body"> -->
    <span class="w-100" style="font-size: 14px;">Indice</span>
    <h1 class="text-center">31</h1>
    <span class="text-center">Wed Aug 19 2020</span>
    <span class="text-center bg-danger w-100 p-1 rounded affiche-icons" style="color: white; font-size: 12px;">
      <span class="d-flex row flex-row">
        <div class="col-4"><i class="bi bi-person-fill"></i></div>
        <div class="col-4 "><i class="bi bi-check2-square"></i>
        </div>
        <div class="col-4"><i class="bi bi-bar-chart-line"></i>
        </div>
      </span>
    <span class="d-flex row flex-row">
      <div class="col-4">100</div>
      <div class="col-4 ">Obésité</div>
      <div class="col-4">19</div>
    </span>
    </span>
    <span style="text-align: center;" class="text-card">Très forte probabilité d'apparition de diabète,de maladies cardiovasculaires..</span>
  </div>
  <div style="color: black;" class="card d-flex flex-column align-items-center p-3 gap-2">

    <span class="w-100" style="font-size: 14px;">Indice</span>
    <h1 class="text-center">15</h1>
    <span class="text-center">Tue Aug 18 2020</span>
    <span class="text-center bg-primary w-100 p-1 rounded affiche-icons" style="color: white; font-size: 12px; white-space:nowrap;">
      <span class="d-flex row flex-row">
        <div class="col-4"><i class="bi bi-person-fill"></i></div>
        <div class="col-4 "><i class="bi bi-check2-square"></i>
        </div>
        <div class="col-4"><i class="bi bi-bar-chart-line"></i>
        </div>
      </span>
    <span class="d-flex row flex-row">
      <div class="col-4">50</div>
      <div class="col-4 ">Maigreur</div>
      <div class="col-4">-8</div>
    </span>
    </span>
    <span style="text-align: center;" class="text-card">Très forte probabilité d'apparition de diabète,de maladies cardiovasculaires..</span>
  </div>
  <div style="color: black;" class="card d-flex flex-column align-items-center p-3 gap-2">

    <span class="w-100" style="font-size: 14px;">Indice</span>
    <h1 class="text-center">31</h1>
    <span class="text-center">Wed Aug 19 2020</span>
    <span class="text-center bg-danger w-100 p-1 rounded affiche-icons" style="color: white; font-size: 12px;">
      <span class="d-flex row flex-row">
        <div class="col-4"><i class="bi bi-person-fill"></i></div>
        <div class="col-4 "><i class="bi bi-check2-square"></i>
        </div>
        <div class="col-4"><i class="bi bi-bar-chart-line"></i>
        </div>
      </span>
    <span class="d-flex row flex-row">
      <div class="col-4">100</div>
      <div class="col-4 ">Obésité</div>
      <div class="col-4">19</div>
    </span>
    </span>
    <span style="text-align: center;" class="text-card">Très forte probabilité d'apparition de diabète,de maladies cardiovasculaires..</span>
  </div>
  <div style="color: black;" class="card d-flex flex-column align-items-center p-3 gap-2">

    <span class="w-100" style="font-size: 14px;">Indice</span>
    <h1 class="text-center">31</h1>
    <span class="text-center">Wed Aug 19 2020</span>
    <span class="text-center bg-danger w-100 p-1 rounded affiche-icons" style="color: white; font-size: 12px;">
      <span class="d-flex row flex-row">
        <div class="col-4"><i class="bi bi-person-fill"></i></div>
        <div class="col-4 "><i class="bi bi-check2-square"></i>
        </div>
        <div class="col-4"><i class="bi bi-bar-chart-line"></i>
        </div>
      </span>
    <span class="d-flex row flex-row">
      <div class="col-4">100</div>
      <div class="col-4 ">Obésité</div>
      <div class="col-4">19</div>
    </span>
    </span>
    <span style="text-align: center;" class="text-card">Très forte probabilité d'apparition de diabète,de maladies cardiovasculaires..</span>
  </div>
  <div style="color: black;" class="card d-flex flex-column align-items-center p-3 gap-2">

    <span class="w-100" style="font-size: 14px;">Indice</span>
    <h1 class="text-center">31</h1>
    <span class="text-center">Wed Aug 19 2020</span>
    <span class="text-center bg-danger w-100 p-1 rounded affiche-icons" style="color: white; font-size: 12px;">
      <span class="d-flex row flex-row">
        <div class="col-4"><i class="bi bi-person-fill"></i></div>
        <div class="col-4 "><i class="bi bi-check2-square"></i>
        </div>
        <div class="col-4"><i class="bi bi-bar-chart-line"></i>
        </div>
      </span>
    <span class="d-flex row flex-row">
      <div class="col-4">100</div>
      <div class="col-4 ">Obésité</div>
      <div class="col-4">19</div>
    </span>
    </span>
    <span style="text-align: center;" class="text-card">Très forte probabilité d'apparition de diabète,de maladies cardiovasculaires..</span>
  </div>
</div>
</div>
