
.color-navside{
  background-color: rgba(209, 128, 104, 0.547);
}



/* .navside{
  margin: 0;
position:fixed;
  padding: 0;
  width: 17vw;
 top: 10vh;
 bottom: 0;
 background-color: rgba(209, 128, 104, 0.547);
} */

.position{
  position: fixed;
  top: 10vh;
}

.card{
  width: 18%;
}

.affiche-icons{
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.588);
}

.card{
  border-radius: 4px !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.485);
}

.text-card{
  color: grey;
}

.cards{
  column-gap: 20px;
}
