
    .droite{
      position: absolute;
      margin: 0;
      padding: 0;
      height: 60vh;
      width:60vw;
      top: 40vh;
      left: 30vw;
      bottom: 0;
 }



.btn-outline-dark{
  background-color: black !important;
  color: white !important;
  border-color: rgba(255, 255, 255, 0.886);
  width: 120px;
}
