<div class="row">
  <div class="col-3"><app-navside class="navside"></app-navside></div>
  <div class="col-9 droite">
    <div class="col-10">
      <div class="row">
        <span>Format des tailles :
        <div class="btn-group buttons" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check active" onclick="document.getElementById('text').style.fontSize = '0.8em'" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-dark" for="btnradio1">Small</label>

          <input type="radio" class="btn-check" onclick="document.getElementById('text').style.fontSize = '1.3em'"  name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-dark" for="btnradio2">Default</label>

          <input type="radio" class="btn-check " onclick="document.getElementById('text').style.fontSize = '1.7em'"  name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-dark" for="btnradio3">Large</label>
        </div></span>
      </div>
      <div id="text">
      <div class="mt-3 row content">
        <label for="inputPassword" class="col-sm-1 col-form-label">Poids:</label> &nbsp; &nbsp;
        <div class="col-sm-8">
          <input type="number" class="form-control" id="inputPassword">
        </div>
      </div>
      <div class="mt-3 row">
        <label for="inputPassword" class="col-sm-1 col-form-label">Date:</label> &nbsp; &nbsp;
        <div class="col-sm-8">
          <input type="date" class="form-control" id="inputPassword">
        </div>
      </div>
      <div class="row pt-4"><span> Validation : <button class="btn btn-outline-dark">Valider</button></span></div>
    </div>
  </div>
</div>
  <script>let buttons = document.querySelector('.buttons');
  let btn = buttons.querySelectorAll('.btn');
  for (var i=0; i<btn.length; i++){
    btn[i].addEventListener('click', function(){
      let current = document.getElementsByClassName('active');
      current[0].className = current[0].className.replace("active", "");
      this.className += "active";
    })
  } </script>
</div>
