<div class="pos-accueil d-flex justify-content-center">
  <div class="card w-50 h-25">
    <div class="card-header">
      <h2>Connexion</h2>
    </div>
    <div class="card-body">
      <div class="row d-flex justify-content-between">
        <form action="" (ngSubmit)="validation()" [formGroup]="myGroup">
          <div class="mb-3">
            <small *ngIf="!username!.invalid"><i class="bi bi-check-circle text-success"></i></small>
            <label for="username" class="form-label"><span class="text-danger">* &nbsp;</span> Nom d'utilisateur</label>
            <input name="username" type="text" class="form-control username" formControlName="username" id="username" placeholder="Username..." />
            <div *ngIf="username!.invalid && username!.touched" class="text-danger">
              <div *ngIf="username?.errors">
                <small>Le champ est requis.</small>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="mb-3 pos-mdp">
              <small *ngIf="!password!.invalid"><i class="bi bi-check-circle text-success"></i></small>
              <label for="password" class="form-label"><span class="text-danger">* &nbsp;</span>Mot de passe</label>
              <input type="password" class="form-control" formControlName="password" id="password"
                placeholder="Password..." />
              <div *ngIf="password?.invalid && password?.touched" class="text-danger">
                <div *ngIf="password?.errors?.['required']">
                  <small>Le champ est requis.</small>
                </div>
                <div *ngIf="password?.errors?.['pattern']">
                  <small>
                    <ul>
                      <li>Vérifiez la présence de majuscule.</li>
                      <li>Vérifiez la présence de caractère spécial(min.1)</li>
                      <li>Vérifiez la présence de chiffres</li>
                    </ul>
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-light w-25" [disabled]="!myGroup.valid" routerLink="../pageutilisateur">
              Connexion
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
