.pos-accueil{
  display: flex;
  align-items: center;
 padding: 9%;

}

h2{
  margin-right: 200px;
}

.card{
  background-color: black;
}

.pos-mdp{
  padding-right: 10px;
}


.username{
  width: 40%;
}
