<div class="w-100"></div>
<div class="navbar d-flex">
  <div class="d-flex justify-content-start gap-4">
    <img
      src="https://www.imcconsulting.it/wp-content/uploads/2018/05/logo_imc_consulting_header-1.png"
      alt=""
    />
  </div>
  <div class="d-flex justify-content-center">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; 
    <h1>{{ titre }}</h1>
  </div>
  <div class="d-flex justify-content-end gap-4">
    <ul class="d-flex flex-row">
      <li routerLink="../../component/accueuil">
        Inscription<i class="bi bi-file-earmark-arrow-up"></i>
      </li>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <li routerLink="../../component/connexion">
        Connexion<i class="bi bi-plug"></i>
      </li>
      &nbsp; &nbsp;
    </ul>
  </div>
</div>
