
h1{
  display: flex;
align-items: center;
}

ul{
  list-style-type: none;
  font-size: large;
  align-items: center;
}

img{
  /* width: 150px; */
  max-height: 9vh ;

}

li{
  cursor: pointer;
}

.navbar{
  background-color: black;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
