:host {
  display: block;

  height: 100%;

  width: 100%;

  margin: 0;

  padding: 0;
}

.header{


  position: fixed;

   top: 0;
  margin: 0;

  padding: 0;

  height: 10vh;

  width: 100vw;

  z-index: 5;

  background-color: rgb(212, 104, 71);

}

.droite {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 80vw;
  top: 10vh;
  left: 20vw;
  bottom: 0;
}


.navside{
   margin: 0;
   position:fixed;
    padding: 0;
    height: 90vh;
    width: 20vw;
    top: 10vh;
    bottom: 0;
    background-color: lightgoldenrodyellow
 }

/* .router{
  width: 80%;
  height: 80%;
} */


