/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba(176, 171, 171, 0.777);
  /* color: rgba(71, 54, 54, 0.466); */
  color: rgba(255, 255, 255, 0.849);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navside{
  margin: 0;
position:fixed;
  padding: 0;
 width: 17vw;
 top: 10vh;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.848);
}


.droite {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 25vh;
  width: 80vw;
  top: 15vh;
  left: 20vw;
  bottom: 0;
}
