<div class="pos-accueil d-flex justify-content-center">
  <div class="card w-50">
    <div class="card-header">
      <h2>Inscription</h2>
    </div>
    <div class="card-body">
      <div class="row d-flex justify-content-between">
        <!-- <div class="col-5"> -->
          <form action="" (ngSubmit)="validation()" [formGroup]="myGroup">
            <div class="mb-3">
              <small *ngIf="!username!.invalid"><i class="bi bi-check-circle text-success"></i></small>
              <label for="exampleFormControlInput1" class="form-label"><span class="text-danger">* &nbsp;</span>Nom d'utilisateur</label>
              <input type="text" class="form-control" formControlName="username" id="exampleFormControlInput1"
                placeholder="Username..." />
                <div *ngIf="username!.invalid && username!.touched" class="text-danger">
                  <div *ngIf="username?.errors">
                    <small>Le champ est requis.</small>
                  </div>
                </div>
            </div>

            <div class="mb-3">
              <small *ngIf="!password!.invalid"><i class="bi bi-check-circle text-success"></i></small>
              <label for="password" class="form-label"><span class="text-danger">* &nbsp;</span>Mot de passe</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Password..." />
              <div *ngIf="password?.invalid && password?.touched" class="text-danger">
                <div *ngIf="password?.errors?.['required']">
                  <small>Le champ est requis.</small>
                </div>


              </div>

            </div>
             <div *ngIf="password?.errors?.['pattern']" class="text-danger">
                  <small><ul>
                    <li>Vérifiez la présence de majuscule.</li>
                    <li>Vérifiez la présence de caractère spécial(min.1)</li>
                    <li>Vérifiez la présence de chiffres</li>
                  </ul></small>
                </div>
            <div class="row d-flex justify-content-between">
              <div class="col-3 mb-3">
                <small *ngIf="!age!.invalid"><i class="bi bi-check-circle text-success"></i></small>
                <label for="age" class="form-label"><span class="text-danger">* &nbsp;</span>Age</label>
                <input type="text" class="form-control" formControlName="age"  id="exampleFormControlInput1" placeholder="Age..." />
                <div *ngIf="age?.invalid && age?.touched" class="text-danger">
                <div *ngIf="age?.errors?.['required']">
                  <small>Le champ est requis.</small>
                </div>
                <div *ngIf="age?.errors?.['pattern']">
                  <small>Votre âge n'est pas valide</small>
                </div>
              </div>
              </div>
              <div class="col-3 mb-3">
                <label for="exampleFormControlInput1" class="form-label"><span class="text-danger">* &nbsp;</span>Taille(en cm)</label>
                <input type="number" class="form-control" formControlName="height" id="exampleFormControlInput1" placeholder="Taille..." />
                <div *ngIf="height?.invalid && height?.touched" class="text-danger">
                  <div *ngIf="height?.errors?.['required']">
                    <small>Le champ est requis.</small>
                  </div>
                </div>
              </div>
                <div class="col-3 mb-3">
                  <label for="exampleFormControlInput1" class="form-label"><span class="text-danger">* &nbsp;</span>Poids</label>
                  <input type="number" class="form-control" formControlName="weight" id="exampleFormControlInput1" placeholder="Poids..." />
                  <div *ngIf="weight?.invalid && weight?.touched" class="text-danger">
                    <div *ngIf="weight?.errors?.['required']">
                      <small>Le champ est requis.</small>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row d-flex justify-content-center">
              <button [disabled]="!myGroup.valid" routerLink="../connexion" class="btn btn-light w-25">
                Inscription
              </button>
              <div class="d-flex justify-content-end">Déjà un compte? &nbsp;<a style="color: purple;" routerLink="../connexion">Connexion</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- </div>    -->
